<dev class="footer navbar-fixed-bottom my_footer">
		<div class="jumbotron" style="background-color: #3a8084">
				<div class="container">
						<div class="row">
						  <div class="col-lg-6 col-sm-12 col-md-12 col-xl-6 ">
								<ul style="list-style: none;">
									<li><strong>Contact Us</strong></li>
									<li>Cell No: (+91)9587975115</li>
									<li>E-mail: thebookdepot11@gmail.com</li>
								</ul>
						  </div> 
						  <div class="col-lg-6 col-sm-12 col-md-12 col-xl-6 ">
							<ul style="list-style: none;" style="color: black" >
								<li><strong>Address & Service</strong></li>
								<li>Branch: Jaipur</li>
								
							</ul>
							</div>
						  
						</div>
						
					  </div>
					  <p style="background-color: #3a8084" class="text-center">&copy; thebookdepot. All Rights Reserved.</p>
			  </div>
	
</dev>