{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block metadescription %}
	{{product.description|truncatewords:155}}
{% endblock %}

{% block title %}
	Change Password -thebookdepot
{% endblock %}

{% block content %}
<h4 style="text-align: center;">Change your password</h4>
<form style="padding: 10px;" method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <button style="width: 100%" class=" btn btn-tbd-theme" type="submit">Save changes</button>
      </form>
{% for message in messages %}
<p style="color:red">{{message}}<p>
{% endfor %}
      <br>
{% endblock%}