{% extends "base.html" %}

{% load staticfiles %}

{% block metadescription %}
	{{product.description|truncatewords:155}}
{% endblock %}

{% block title %}
	Profile - thebookdepot
{% endblock %}

{% block content %}
<h4 style="text-align: center;">Your Account</h4>
<div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 padding_10">
          <a style="text-decoration: none; color:black" href="{% url 'order:order_history'%}"><div class="p-3 profile_option_border profile_option clickable">Your Orders</div></a>
        </div>
      <div class="col-sm-12 col-md-6 col-lg-6 padding_10">
        <a style="text-decoration: none; color:black" href="{% url 'login_signup:loginSecurity'%}"><div class="p-3 profile_option_border profile_option clickable">Login & Security</div></a>
      </div>
      
      <div class="col-sm-12 col-md-6 col-lg-6 padding_10">
        <a style="text-decoration: none; color:black" href="{% url 'login_signup:addresses'%}"><div class="clickable p-3 profile_option_border profile_option clickable">Your Addresses</div></a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 padding_10">
        <a style="text-decoration: none; color:black" href=""><div class="p-3 profile_option_border profile_option clickable">Others</div></a>
      </div>
    </div>
  </div>
<br>
{% endblock%}