{% extends "base.html" %}
{% load staticfiles % }
{% block metadescription %}
    We have a varity of stunning and confy cushions. Look for the one that suits your needs.
{% endblock %}
{% block title%}
    
    Search - Perfect Cushion Store
{% endblock %}

{% block content %}

	<div>
		<p class="text-center my_search_text">You have serch for <b>{{ query }}</b></p>
	</div>
	<div class="container">
   

            {% for product in products %}
            <!-- <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-md-12 col-lg-4">
                <div class="card text-center" style="min-width: 18rem;">
                    <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}"></a>
                    <div class="card-body">
                        <h4>{{product.name}}</h4>
                        <p>&#8377; {{product.price}}</p>
                    </div>
                </div>
            </div> -->

            <hr style="border: 1px solid #c5c5c5;">

                <div class="row">
                
                
                  <div class="col-md-2 col-sm-3 col-4" style="padding: 0">
                    <!-- <div style="text-align: center;"> -->
                    <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}" style="width: 100%"></a>
                    <!-- </div> -->
                  </div>

                  <div class="col-md-9 col-sm-9 col-8" style="padding:10 0 0 0;">
                    <a style="color: black" href="{{product.get_url}}"><h6 style="font-weight:bold;">{{product.name}}</h6></a>
                    <span style="text-decoration: none;"> {{product.description}}</span><br>
                    <span>MRP: &#8377;{{product.mrp}} </span><br>
                    <span>Discount: {{product.discount}}%</span><br>
                    <span style="font-weight: bold;">&#8377; {{product.price}}</span>  
                  </div>
                  

                </div>

            {% empty %}
            <div class="row mx-auto">
            	<p class="text-center my_search_text">0 result found. </p>
            </div>
            {% endfor %}
        </div>
        <div class="mx-auto">
            {% if products.paginator.num_pages > 1 %}
            <hr>
            <div class="text-center">
                {% for pg in products.paginator.page_range%}
                    <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %}active{% endif %}">{{pg}}</a>
                {% endfor%}
            </div>
            {% endif %}
        </div>
        <br>
    </div> 
{% endblock %}